/*

    Featherbass
    Clean, writerly theme for Basscss
    http://basscss.com

*/


@import "basscss-base-reset";
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';
@import "basscss-base-typography";

@import 'basscss-ui-utility-button-sizes';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';
@import 'basscss-ui-utility-groups';

@import 'basscss-utility-headings';

@import 'basscss-grid';
@import 'basscss-table-object';
@import "flex-object";

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-color-tables';

@import 'basscss-button-blue';
@import 'basscss-button-blue-outline';
@import 'basscss-button-light-gray';
@import 'basscss-button-nav-light';
@import 'basscss-button-nav-dark';
@import 'basscss-button-nav-tab';

@import 'basscss-colors';
@import 'basscss-color-borders';

@import 'basscss-background-images';

@import "basscss-defaults";

body {
  -webkit-font-smoothing: antialiased;
}

@import "./utility/typography";
@import "./utility/prose";

@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);


:root {
  --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --serif-font-family: 'Merriweather', Georgia, serif;
  --heading-font-weight: 700;
  --bold-font-weight: 700;
  --button-font-weight: 700;

  --h4: 1.25rem;
  --h5: 1rem;
  --h6: .875rem;

  --container-width: 48rem;
  --heading-font-family: var(--font-family);
  --button-font-size: .875rem;

  --darken-1: rgba(#000, .03125);
  --darken-2: rgba(#000, .0625);

  --dark-gray: #444;
  --mid-gray: #666;
  --light-gray: #bbb;
  --lighter-gray: #eee;

  --blue: #0089ff;
  --red: #f95c10;
  --green: #00ef60;
  --yellow: #ffdf00;

  --bright-blue: #00b9ff;

  --light-blue: rgba(var(--blue), .0625);
  --hover-background-color: var(--light-blue);

  /* Testing colors from Blk */
  /*
  --dark-gray: #263c46;
  --mid-gray: #667680;
  --light-gray: #d3d9d9;
  --lighter-gray: #f3f9f9;

  --blue: #00afef;
  --green: #00ef60;
  --yellow: #ffdf00;
  --red: #ff4916;
  --dark-blue: #006faf;
  --light-blue: rgba(var(--blue), .0625);
   */

}


